fastapi==0.101.1
flet==0.85.3
uvicorn==0.48.0
psycopg2-binary==2.9.12
pydantic==2.9.2
python-multipart
python-jose[cryptography]
argon2-cffi
redis==8.0.0
greenlet==3.0.1
asyncpg==0.29.0
python-dotenv==1.2.2
SQLAlchemy==2.0.23
